@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #f4fafa;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
nav{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 150px;
  /* width: 280px; */
  background: #eaf4f3;
  overflow: hidden;
  transition: 1s;
}
nav:hover{
  width: 680px;
  transition: 1s;
}
.logo{
  text-align: center;
  display: flex;
  margin: 20px 0 0 10px;
  padding-bottom: 1.5rem;
}

.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo span{
  padding-left: 12px;
  font-size: 12px;
  text-transform: uppercase;
  color: #38a095;
}

.logo:hover{
  background: none;
}

a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: #38a095;
  display: table;
  padding: 22px;
  
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 15px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 13px;
}
a:hover{
  background: #8edaf1;
  width: 80vh;
}
a:hover i{
  color: #38a095;
  transition: 0.5s;
}
.logout{
  position: absolute;
  bottom: 0;
}

.container{
  display: flex;
}

/* Add Patient*/
.form-title{
    font-size: 24px;
    font-weight: bold;
    color: #38a095;
    margin-left: 20px;
  margin-top: 30px;
}
.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 80px;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: #38a095;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 55px;
    width: 95%;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}


.form-submit-btn{
    margin-top: 30px;

}

.form-submit-btn input{
    display: block;
    width: 150px;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 3px;
    color: #ffff;
    background: #39A096;
}

.form-submit-btn input:hover{
    background: #8edaf1;
    color: rgb(255, 255, 255);
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}