@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
h1{
    font-size: 40px;
    color: #f4fafa;
}

.am-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding: 20px 16px;
    background-color: #f4fafa;
}
.am-body{
    width: 650px;
    background-color: #9bcfca;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
input, textarea, select{
    width: 100%;
    background-color: #d6ebe9;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 5px;
    resize: none;
    border-radius: 3px;
}
.am-head{
    background-color: #38a095;
    padding: 20px 10px;
    text-align: center;
    color: #f4fafa;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}
.am-footer{
    background-color: #38a095;
    padding: 20px 10px;
    text-align: center;
    color: #f4fafa;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.am-row{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.am-col-12{
    width: 100%;
}
.am-col-3{
    width: 30%;
}
.am-col-6{
    width: 48%;
}
.am-col-7{
    width: 30%;
}
.am-body-box{
    padding: 20px;
}
.disabled{
    cursor: none;
    pointer-events: none;
    color: red;
}
input[type="checkbox"]{
    width: 15px;
    height: 15px;
    font-size: 15px;
    color: #e9f4fb;
    margin-top: 0.5rem;
    text-align: center;
  }
 p{
    font-weight: 500;
    color: #040404
}
.am-footer>p{
    color: #f4fafa;
}