@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg: #f4f4f4;
    --bg-darker: #eaf4f3;
    --teal: #38a095;
    --lightgreen: #cce1df;
    --lightblue: #90cac4;
    --blue: #8edaf1;
    --gray: #91a29c;
} 

nav{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100vh;
    padding: 1.2rem;
    color: var(--teal);
    overflow: hidden;
    transition: all 0.5s linear;
    background: var(--bg-darker);
}

nav span{
    white-space: nowrap;
}

nav:hover{
    width: 350px;
    transition: 0.5s;
}

.logo{
    position: relative;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1.7rem;
}

.logo img{
    height: 85%;
}

.logo span{
    font-size: 14px;
    font-weight: bold;
}

.menu{
    height: 85%;
    position: relative;
    list-style: none;
}

.menu li{
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    line-height: 0.8rem;
}

.menu li:hover, .menu li:hover a{
    background: var(--lightgreen);
    color: var(--teal);
}

.menu li a{
    color: var(--gray);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 2.6rem;
}

.menu li a i{
    font-size: 1.3rem;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 1rem);
}

.activeLink span, .activeLink i{
    color: var(--teal);
}
