@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #f4fafa;
}
nav{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 107px;
  /* width: 280px; */
  background: #eaf4f3;
  overflow: hidden;
  transition: 1s;
}
nav:hover{
  width: 350px;
  transition: 1s;
}
.logo{
  text-align: center;
  display: flex;
  margin: 20px 0 0 10px;
  padding-bottom: 1.5rem;
}

.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo span{
  padding-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #38a095;
}
a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: #38a095;
  display: table;
  padding: 22px;
  
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 15px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #8edaf1;
  width: 100vh;
}
a:hover i{
  color: #38a095;
  transition: 0.5s;
}
.logout{
  position: absolute;
  bottom: 0;
}

.container{
  display: flex;
}

/* Main Section */
.main{
    position: relative;
    padding: 20px;
    width: 100%;
  }
  .main-top{
    display: flex;
    width: 100%;
    padding-top: 10px;
    color: #38a095;
  }
  .main .users{
    display: flex;
    width: 100%;
    padding-top: 40px;
  }
  .users .card{
    width: 25%;
    margin: 10px;
    background: #38a095;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    height: 250px;
  }
  .users .card h4{
    text-transform: uppercase;
  }

  